# Backend - Python/Flask
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
coverage.xml
*.cover
.coverage.*

# Frontend - Vue.js/Node
node_modules/
/dist
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.sublime-workspace
.editorconfig

# Sistema operacional
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Arquivos de banco de dados
*.sqlite
*.sqlite3
*.db

# Logs
logs/
*.log

# Arquivos de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Arquivos de cache
.cache/
.parcel-cache/

# Arquivos de dados
/dados/*.csv
!/dados/operadoras_teste.csv